---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto" transition:animate="slide">
    <div slot="Content" class="p-6 sm:ml-64">
        <form method="post" class="p-2 border-2 border-transparent rounded-lg mt-16 max-w-screen mx-auto">
            <div class="grid grid-cols-2 gap-2">
                
                <label class="flex items-center justify-center h-32 rounded border-2 border-black shadow-xl bg-blue-700 dark:bg-white">
                    <span class="text-lg ml-4 mr-2 font-serif">Nombre y apellidos:</span>
                    <input type="text" class="rounded shadow-md bg-white mr-3 sm:mr-5 focus:outline-none border-2 border-black w-2/5" name="Nombre y apellidos"/>
                </label>
                    
                <label class="flex items-center justify-center h-32 rounded border-2 border-black shadow-xl bg-yellow-300 dark:bg-yellow-300">
                    <span class="text-lg font-serif">Correo: </span>
                    <input type="text" class="w-2/5 rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Correo"/>
                </label>
                
                <label class="flex items-center justify-center h-32 rounded border-2 border-black shadow-xl bg-red-600 dark:bg-red-600">
                    <span class="text-lg font-serif">Teléfono: </span>
                    <input type="text" class="w-2/5 rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Telefóno"/>
                </label>
                
                <label class="flex items-center justify-center h-32 rounded border-2 shadow-xl border-black bg-blue-700 dark:bg-white">
                    <span class="text-lg font-serif ">Disponibilidad: </span>
                    <select class="w-2/5 block justify-center rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Disponibilidad">
                        <option></option>
                        <option></option>
                    </select>
                </label>
                
                <div class="flex items-center justify-center col-span-2 h-72 rounded border-2 border-black shadow-xl bg-yellow-300 dark:bg-blue-700 overflow-x-hidden">
                    <label class="absolute items-baseline justify-center col-span-2 rounded bg-yellow-300 dark:bg-blue-700 text-black">
                        <p class="text-lg flex justify-center text-black">Mensaje:  </p></br>
                            <div class="resizable-container">
                                <textarea class="max-w-screen overflow-hidden relative justify-end rounded-sm shadow-lg dark:shadow-md m-px dark:shadow-black border-2 min-w-fit border-black focus:outline-none h-40 w-80 xl:w-96 resize-none text-black"></textarea>
                            </div>
                        </label>
                    </div>
                </div>
            </div>    
        </form>
    </div>

</Layout>

<style>
    .resizable-containes{
        max-width: 100px;
        overflow-x: hidden ;
    }
</style>