---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto">
    <div slot="Content" class="p-6 sm:ml-64">
        <div class="p-2 border-2 border-transparent rounded-lg mt-16 w-full h-full">
            <div class="grid grid-cols-1 gap-8 h-content">
                <div class="flex items-center justify-center h-32 rounded bg-red-800 dark:bg-red-800 hover:invert">

                </div>
                <div class="flex items-center justify-center h-32 rounded bg-red-800 dark:bg-red-800 hover:invert">

                </div>
                <div class="flex items-center justify-center h-32 rounded bg-red-800 dark:bg-red-800 hover:invert">

                </div>
                <div class="flex items-center justify-center h-32 rounded bg-red-800 dark:bg-red-800 hover:invert">

                </div>
                
            </div>
        </div>
    </div>

</Layout>
