---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto">
    <div slot="Content" class="p-6 sm:ml-64">
            <form method="post" class="p-2 border-2 border-transparent rounded-lg mt-16 max-w-screen mx-auto">
                <div class="grid grid-cols-2 gap-2">
                    <label class="flex items-center justify-center h-32 rounded bg-blue-700 dark:bg-white">
                        <span class="text-lg ml-4 mr-2 font-serif">Nombre y apellidos:</span>
                        <input type="text" class="rounded shadow-md bg-white mr-3 sm:mr-5 focus:outline-none border-2 border-black w-2/5" name="Nombre y apellidos"/>
                    </label>
                    <label class="flex items-center justify-center h-32 rounded bg-yellow-300 dark:bg-yellow-300">
                        <span class="text-lg font-serif">Correo: </span>
                        <input type="text" class="w-2/5 rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Correo"/>
                    </label>
                    <label class="flex items-center justify-center h-32 rounded bg-red-600 dark:bg-red-600">
                        <span class="text-lg font-serif">Teléfono: </span>
                        <input type="text" class="w-2/5 rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Telefóno"/>
                    </label>
                    <label class="flex items-center justify-center h-32 rounded bg-blue-700 dark:bg-white">
                        <span class="text-lg font-serif ">Disponibilidad: </span>
                        <input type="time" class="w-auto justify-center rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Disponibilidad"/>
                    </label>
                    <div class="flex items-center justify-center col-span-2 h-72 rounded bg-black dark:bg-blue-700">
                        <label class="items-baseline justify-center col-span-2 rounded bg-black dark:bg-blue-700 text-black">
                            <p class="text-lg flex justify-center text-white dark:text-black">Mensaje:  </p></br>
                            <textarea class="flex justify-end rounded-sm dark:shadow-md m-px dark:shadow-black border-2 min-w-fit border-black focus:outline-none max-w-content h-40 w-80 resize-x text-black"></textarea>
                        </label>
                        </div>
                    </div>
                </div>    
            </form>
    </div>

</Layout>
