---
import { slide } from 'astro:transitions'
import Layout from '../layouts/Layout.astro'
---

<Layout title='QuienesSomos'>
  <div
    slot='Content'
    class='p-6 sm:ml-64 dark:bg-black dark:text-white bg-white justify-center'
    transition:animate='fade'
  >
    <div class='border-2 border-transparent rounded-lg mt-16 w-auto h-auto'>
      <h1 class='text-center text-5xl mt-10 font-monospace'>Quienes somos</h1>
    </div>
  </div>
</Layout>
