---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<Layout title="subpagina1"/>

 <div slot="content" class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-transparent rounded-lg dark:border-transparent mt-14">

        <p>Hola<p>

    </div>
 </div>


